<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Spring MVC</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<header>
    <h3>Spring MVC</h3>
    <nav>
        <a th:href="@{/}">Home</a>
    </nav>
</header>
<main>
    <div class="banner">
        <h1>Hello World!</h1>
    </div>
    <section class="section-cards">
        <div class="card">
            <img th:src="@{/img/python-code.jpeg}" alt="">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores blanditiis corporis
                dignissimos dolor doloremque hic itaque, iure labore laboriosam libero, modi nihil odit omnis optio
                quidem repellat repellendus repudiandae.
            </p>
            <button>More actions</button>
        </div>
        <div class="card">
            <img th:src="@{/img/python-code.jpeg}" alt="">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores blanditiis corporis
                dignissimos dolor doloremque hic itaque, iure labore laboriosam libero, modi nihil odit omnis optio
                quidem repellat repellendus repudiandae.
            </p>
            <button>More actions</button>
        </div>
        <div class="card">
            <img th:src="@{/img/python-code.jpeg}" alt="">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores blanditiis corporis
                dignissimos dolor doloremque hic itaque, iure labore laboriosam libero, modi nihil odit omnis optio
                quidem repellat repellendus repudiandae.
            </p>
            <button>More actions</button>
        </div>
        <div class="card">
            <img th:src="@{/img/python-code.jpeg}" alt="">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores blanditiis corporis
                dignissimos dolor doloremque hic itaque, iure labore laboriosam libero, modi nihil odit omnis optio
                quidem repellat repellendus repudiandae.
            </p>
            <button>More actions</button>
        </div>
        <div class="card">
            <img th:src="@{/img/python-code.jpeg}" alt="">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores blanditiis corporis
                dignissimos dolor doloremque hic itaque, iure labore laboriosam libero, modi nihil odit omnis optio
                quidem repellat repellendus repudiandae.
            </p>
            <button>More actions</button>
        </div>
        <div class="card">
            <img th:src="@{/img/python-code.jpeg}" alt="">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores blanditiis corporis
                dignissimos dolor doloremque hic itaque, iure labore laboriosam libero, modi nihil odit omnis optio
                quidem repellat repellendus repudiandae.
            </p>
            <button>More actions</button>
        </div>
    </section>
</main>
</body>
<script th:src="@{/js/main.js}"></script>

</html>